@{
    ViewData["Title"] = "SobreTech";
}

<div class="text-center">
    <h1 class="display-4">Sistema de compailhamento de mensagens...</h1>
</div>

<div class="">
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="MessageForm">Nova Mensagem</a>
</div>